/* Base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; /* Choose a modern, readable font */
}

.nav_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav_images {
  border-radius: 0.25rem;
  margin-bottom: 0.25rem;
}
.nav_button {
  width: fit-content;
  display: flex;
  flex-direction: column;
  color: grey;
  font-size: small;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.card_blog {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}

.social_title {
  font-size: 14px;
  color: grey;
  font-family: sans-serif;
}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}

.Demo__container {
width: 95vw;
}
.Demo__some-network {
  vertical-align: top;
  display: inline-block;
  margin-right: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.Demo__some-network__share-count {
  display: inline-flex;
  justify-content: center;
  white-space: nowrap;
  overflow: visible;
  width: 0;
  margin-top: 3px;
  font-size: 16px;
}

.Demo__some-network__share-button {
  cursor: pointer;
}

.Demo__some-network__share-button:hover:not(:active) {
  opacity: 0.75;
}

.Demo__some-network__custom-icon {
  width: 32px;
  height: 32px;
}

.react-share__ShareButton svg {
  width: 64px;
  height: 64px;
}
.topBarLeft {
  height: 5px;
    width: 50px;
    background-color: lightgrey;
    border-radius: 1rem;
    margin-bottom: 8px;
}

.mapButton {
  padding: 10px 10px;
  border: 1px solid #e1e1e1; /* Subtle border */
  border-radius: 8px;
  background-color: #ffffff; /* Minimalistic button background */
  color: #000000; /* Close to black for the text */
  font-size: 18px;
  font-weight: bold !important;
  text-align: left;
  font-weight: normal;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 100%; /* Full width for better mobile responsiveness */
  margin: 8px 0; /* Space between buttons */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.send {
  display: flex;
  align-items: center;
  font-size: medium;
}

.settings-container {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
}

.section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.section-container:last-child {
  border-bottom: none;
}

.settings {
  line-height: 1.6;
}

.account-info {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.email, .username {
  display: flex;
  color: #333;
  font-size: 16px;
  margin-bottom: 10px;
}

.btn-clear-history {
  background-color: #ff6b6b;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Makes button full width */
  box-sizing: border-box;
}

.btn-clear-history:hover {
  background-color: #f55f5f;
}

.help-section a, .follow-us-section a, .about-section a {
  color: #000000;
  padding: 8px 0;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.help-section a:hover, .follow-us-section a:hover, .about-section a:hover {
  color: #0056b3;
}

.help-section, .follow-us-section, .about-section {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  margin-left: 40px;
  margin-right: 40px;
}

.help-section a:last-child, .follow-us-section a:last-child, .about-section a:last-child {
  border-bottom: none;
}

.account-actions {
  margin-top: 20px;
}

.btn-sign-out, .btn-delete-account {
  padding: 12px 20px;
  border-radius: 6px;
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  width: 100%;
  box-sizing: border-box;
}

.btn-sign-out {
  background-color: #3498db;
  color: white;
  margin-bottom: 10px; /* Adds space between buttons */
  width: 90%;
  margin: auto;
}

.btn-sign-out:hover {
  background-color: #2980b9;
}

.btn-delete-account {
  background-color: #e74c3c;
  color: white;
}

.btn-delete-account:hover {
  background-color: #c0392b;
}

.app-version {
  color: #777;
  font-size: 14px;
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #ececec;
  background-color: #f7f7f7;
  border-radius: 0 0 10px 10px;
}

.account-header, .legal-header, .help-header, .social-header, .danger-header {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .settings-container {
    width: 100%;
  }
}

/* Ensure that the font sizes and colors match the actual design */



/* Add more styles for other elements */


.w {
  display: flex;
  width: 100% !important;
  background-color: #ffffff;
}
.shape {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(45deg, #6dd5ed, #2193b0);
  box-shadow: 0 8px 15px rgba(33, 147, 176, 0.4);
  margin: 20px;
  position: absolute;
  z-index: -1;
  animation: rotate 5s infinite linear;
}

.shape::before {
  content: '';
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 0 8px 15px rgba(255, 255, 255, 0.6);
}

.shape::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: -15px;
  background-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 0 8px 15px rgba(255, 255, 255, 0.6);
}

/* Animation */
@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
.mapboxgl-ctrl-pitchtoggle-3d {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjNEPC90ZXh0Pjwvc3ZnPg==);
  background-size: contain;
}

.mapboxgl-ctrl-pitchtoggle-2d {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjJEPC90ZXh0Pjwvc3ZnPg==);
  background-size: contain;
}

.characterLength {
  color: grey;
  padding-top: 5px;
}

.how {
  font-size: 24px;
  font-weight: normal !important;
}

.show {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.showInput {
  width: 100%;
}
/* Neumorphic Design Base */
:root {
  --electric-blue: #1e90ff;
  --neon-coral: #ff7f50;
  --sleek-charcoal: #464646;
  --mint-green: #98ff98;
  --soft-peach: #ffdab9;
  --pearl-white: #f5f5f5;
}

/* Profile section and header */
.profile {
  text-align: center;
  /* padding: 20px 20px 0px 20px;
  border-bottom: 3px solid #000000; */
}

.header h3 {
  font-size: 1.5em;
}

/* Buttons styling */
.p_button {
  background: var(--pearl-white);
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2), 
              -3px -3px 10px rgba(255, 255, 255, 0.8);
  padding: 10px 10px;
  margin: 10px;
  width: calc(100% - 5%);
  display: block;
  transition: all 0.3s ease;

}

.instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.p_button:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2), 
              -3px -3px 10px rgba(255, 255, 255, 0.8);
}

.p_button img.settings {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.tiktok {
  background-image: linear-gradient(135deg, #69c9d0 0%, #000000 100%);
  color: #ffffff; /* White text to stand out against the darker background */
}
.tiktok img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.profile_title_point {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2rem;
  color: white;
}

.socialMediaTitle {
  font-size: 1.5em;
  color: var(--electric-blue);
  margin: 20px;
}

.ai-title {

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-bottom: 1rem;

}

.ai-header {

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin-left: '5px';

}
.signOut {
  padding: 15px;
  width: auto;
  border: none;
  color: red; /* White text for contrast */
  font-size: 16px;
  width: fit-content; /* Full width */
  cursor: pointer;
  display: flex;
  background-color: transparent;
}

.signoutbuttonbox {
  display: flex;
  justify-content: start;
  width: 100%;
  margin-top: 1rem;
}

.sign_out_label, .profile_label {
  display: flex;
  align-items: center;
  width: 100%;
}

.sign_out_point {
  margin: 0 auto; /* Center text within the button */
  font-weight: normal;
}


.apple-sign-in {
  appearance: none;
  -webkit-appearance: none;
  padding: 1rem;
  border: none;
  background: black;
  color: white;
  font-size: 25px;
  cursor: pointer;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

}

.google-sign-in {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  appearance: none;
  -webkit-appearance: none;
  padding: 1rem;
  border: none;
  background: white;
  color: black;
  font-size: 25px;
  cursor: pointer;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

}

.login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=');
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}
.login-with-google-btn:active {
  background-color: #eee;
}
.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25), 0 0 0 3px #c8dafc;
}
/* General styling for the subscription screen */
.subscribe-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Box that holds the plan details and buttons */
.purchase_box {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 350px; /* Maximum width of the box */
  margin: 20px;
  text-align: center; /* Center text for better readability */
}

/* Header within the purchase box */
.purchase_header h1.features_header {
  color: #333;
  margin-bottom: 1rem; /* Space below the header */
}

/* Box that lists the features */
.features_box {
  text-align: left;
  margin-bottom: 2rem; /* Space below the feature list */
}

/* Each feature point */
.features_point {
  font-size: 1rem;
  color: #333;
  margin: 0.5rem 0; /* Vertical spacing between feature points */
  display: flex;
  align-items: center; /* Align the checkmark icon with the text */
}

/* Checkmark icon */
.features_point svg {
  margin-right: 0.5rem; /* Space between the icon and text */
  fill: #10b981; /* Checkmark color */
  width: 25px;
  height: 25px;
}

/* Label above the purchase buttons */
.purchase_label {
  font-weight: bold;
  margin: 1rem 0; /* Space above and below the label */
}
.topBar {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the h3 tag */
  text-align: center; /* Ensures all text is centered */
  margin: 1rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem; /* Adjust size as needed */
}

.actionButton {
  padding-left: 10px;
}
.descriptionBox {
  overflow-wrap: break-word; /* Prevents overflow by breaking long words */
  word-wrap: break-word; /* Deprecated but included for cross-browser support */
  hyphens: auto; /* Automatically adds hyphens where appropriate */
  padding: 0 1rem; /* Padding on the sides */
  margin-top: 1rem; /* Space below the title */
  text-align: center;
  height: auto;
  width: 80vw;
}

.mapDescription {
  overflow: auto;
    text-overflow: clip;
    white-space: normal;
    width: 100%;
    height: fit-content;
}
/* Purchase buttons */
.button-38 {
  display: flex !important;
  justify-content: center !important;
  width: 100%;
  padding: 15px;
  margin: 10px 0; /* Vertical spacing between buttons */
  border-radius: 8px; /* Rounded corners for the button */
  border: 2px solid #10b981; /* Border color */
  background-color: #f3f4f6; /* Light background for the button */
  cursor: pointer;
  transition: all 0.3s ease;
  width: 3rem;
}

.button-38:hover {
  background-color: #e5e7eb; /* Slightly darker background on hover */
}

/* Title point within the button */
.title_point {
  color: #333;
  font-size: 1rem;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .subscribe-screen {
    height: auto;
  }

  .purchase_box {
    width: 100%;
    max-width: none;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
label {
  cursor: pointer;
  text-indent: -9999px;
  width: 200px;
  height: 100px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}
label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
input:checked + label {
  background: #bada55;
}
input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
label:active:after {
  width: 130px;
}

/* Base styles for the info box */
.info_box {
  background-color: #ffffff; /* White background */
  border: 1px solid #e0e0e0; /* Light grey border */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Inner spacing */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  max-width: 300px; /* Maximum width */
  margin: 10px; /* Outer spacing */
}

/* Styles for the text inside the info box */
.info_box .last-edited {
  font-family: 'Arial', sans-serif; /* Clean, readable font */
  color: #333333; /* Dark grey color for text */
  font-size: 14px; /* Readable font size */
  line-height: 1.6; /* Spacing between lines */
  margin-bottom: 10px; /* Space between paragraphs */
}

/* Style for the last paragraph to remove extra margin */
.info_box .last-edited:last-child {
  margin-bottom: 0;
}


@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
@keyframes moveBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Base styles for the entire sign-in page */
.signin_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0px !important;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
  background-repeat: round;
  background-size: contain !important;
  width: -webkit-fill-available;
  background-color: #ffffff;
  background-image: url('./assets/background.png');
}

/* Styles for the logo box */
.logo_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo_box img {
  height: 80px; /* Increased size */
  width: 80px; /* Increased size */
}

.logo_label {
  font-size: 28px; /* Increased size */
  color: #ffffff; /* Vibrant blue color */
  font-weight: bold;
  margin-top: 1rem;
}

/* Styles for the sign-in button */
.signin_button_box {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.sign-in {
  width: 100%;
  padding: 15px 20px; /* Increased padding */
  font-size: 18px; /* Increased size */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: background-color 0.3s, transform 0.1s;
}

/* Styles for the terms of service label */
.terms_label {
  position: fixed; /* Fixed position to place it relative to the viewport */
  bottom: 0; /* At the bottom of the viewport */
  left: 0; /* Align to the left of the viewport */
  width: 100%; /* Full width */
  font-size: 0.75rem; /* Small font size */
  color: #000000; /* Subdued text color for less emphasis */
  text-align: center; /* Center the text within the element */
  padding: 1rem; /* Padding for spacing from the screen edge */
  font-size: 11px;
}

/* Make sure other content does not overlap with terms label */
.content {
  padding-bottom: 3rem; /* Bottom padding must be more than terms_label height */
}

.google {
  background-color: #DB4437;
  color: white;
}

.facebook {
  background-color: #4267B2;
  color: white;
}

.twitter {
  background-color: #000000;
  color: white;
}

.or {
  font-size: 16px;
}
/* Responsive adjustments */
@media (max-width: 600px) {
  .signin_box {
    padding: 20px;
 /* Takes more space on smaller screens */
  }
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.header {
  color: white;
  clip-path: ellipse(100vw 60vh at 50% 50%);
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 20px;
}

.details {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-pic {
  height: 4rem;
  width: 4rem;
  object-fit: center;
}

.heading {
  font-weight: bold;
  font-size: 3rem;
  margin: 1rem;
  color: #000;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.map_points {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
}

.box {
  display: inline-grid;
  flex-direction: column;
}

/* General styles to reset defaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Styles for the container */
.add_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Space between elements */
  margin: 20px;
}

/* Style for the input field */
.form__input {
  font-size: 16px; /* Readable font size */
  padding: 10px 15px; /* Comfortable padding */
  border: 2px solid #d1d1d1; /* Subtle border */
  border-radius: 25px; /* Rounded corners for the input */
  outline: none; /* Removes the default focus outline */
  width: 100%; /* Full width to fill container */
  max-width: 300px; /* Maximum width of the input */
}

/* Increases the size of the clickable area for the input */
.form__input:focus {
  border-color: #007bff; /* Highlight color when focused */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); /* Subtle glow on focus */
}

/* Style for the add button */
.add_button {
  background-color: #007bff; /* Button background color */
  border: none; /* No border */
  border-radius: 50%; /* Circular button */
  padding: 10px; /* Padding to increase the clickable area */
  cursor: pointer; /* Cursor indicates a button */
  line-height: 1; /* Line height to prevent extra space inside button */
  outline: none; /* Removes the default focus outline */
}

.add_button:focus,
.add_button:hover {
  background-color: #0056b3; /* Darker shade on hover/focus */
  outline: none; /* Removes the default focus outline */
}

/* Style for the image inside the button */
.add_button .add_map {
  width: 25px; /* Fixed width for the image */
  height: 25px; /* Fixed height for the image */
}


/* Style for the input at the top of the list */
.form__input {
  width: calc(100% - 2rem); /* Full width minus padding */
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  margin: 1rem;
}

/* Container for each map point */
.map_points {
  max-height: 60vh; /* Adjust as necessary */
  overflow-y: auto; /* Enables scrolling */
  display: flex;
  flex-direction: column;
}

/* Title above the map points list */
.point-title {
  font-size: 1.25rem;
  text-align: left;
  padding: 0.5rem 1rem;
  color: #333;
}

/* Individual map points */
.points-containe {
  display: flex;
  flex-direction: column;
}

.button-38 {
  background-color: #f9f9f9;
  border: none;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-38:hover {
  background-color: #e6e6e6;
}

/* Icon and title for each map point */
.map_point_label {
  display: flex;
  align-items: center;
}

.title_point {
  font-size: 1rem;
  color: #333;
}

/* Style for the icons using SVG */
svg {
  height: 24px; /* Fixed height for icons */
  width: 24px; /* Fixed width for icons */
  fill: #666; /* Icon color */
}

/* Map functions like duplicate, share, export */
.map_functions {
  display: flex;
  justify-content: space-around;
}

/* Style for the action buttons at the bottom */
.map_functions .button-38 {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsiveness */
@media (max-width: 768px) {
  .form__input {
    font-size: 0.9rem;
  }

  .point-title {
    font-size: 1rem;
  }

  .title_point {
    font-size: 0.9rem;
  }
}

.form__input {
  border-radius: 0.5rem !important;
  height: 3rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 1rem;
  margin: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #333;
  border-radius: 5rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.map_point_label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  justify-items: center;
}

.profile {
  width: 100%
}

.color_picker {
  margin: 5%;
}

.notes {
  margin: 10px;
  width: -webkit-fill-available;
}

.notes_box {
  margin: 10px;
}

.purchase_box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px;
}

.features_header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.features_box {
  line-height: 1.5rem;
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin: 10px;
  text-align: center;
}

.purchase_button_box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  text-align: center;
}

.purchase_label {
  text-align: center;
  justify-content: center;
}

.features_point {
  align-items: center;
  display: flex;
  justify-content: start;
  flex-direction: row;
  margin: 2px;
}

.features_point span{
  padding-left: 10px;
}

.field {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out;
}

.field:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.field.active {
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}

.field.active input {
  padding: 24px 16px 8px 16px;
}

.field.active input + label {
  top: 4px;
  opacity: 1;
  color: #512da8;
}

.field.locked {
  pointer-events: none;
}

.field input {
  width: 100%;
  height: 56px;
  position: relative;
  padding: 0px 16px;
  border: none;
  border-radius: 4px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  color: #282828;
  outline: none;
  box-shadow: 0px 4px 20px 0px transparent;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out,
    0.1s padding ease-in-out;
  -webkit-appearance: none;
}

.field input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.field input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.field input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.field input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.field input + label {
  position: absolute;
  top: 24px;
  left: 16px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s all ease-in-out;
}

.field input + label.error {
  color: #ec392f;
}

.field p.predicted {
  position: absolute;
  top: 8px;
  left: 16px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #e0e0e0;
  opacity: 1;
  pointer-events: none;
}

.profile_button {
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: fit-content;
  border-radius: 0.5rem !important;
  margin: 0.5rem;
  border: 0;
  border-radius: 0px;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.profile_button_box {
  width: 100%;
  scroll-behavior: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Premium button with a luxurious gradient */
.p_button.premium {
  background-image: linear-gradient(135deg, #fad961 0%, #f76b1c 100%);
}

/* Share button with an inviting gradient */
.p_button.share {
  background-image: linear-gradient(135deg, #8a2387 0%, #e94057 50%, #f27121 100%);
}
.s {
  color: #212121;
  font-weight: normal;
  display: flex;
  align-items: center;
}
.profile_button_signout {
  display:flex;
  justify-content: center;
  background-color: transparent;
  border: 0;
  border-radius: 0px;
  box-sizing: border-box;
  color: red;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 10px;
}

.purchase_label {
  font-weight: bold;
  font-size: 16px;
}

.purchase_header {
  text-align: center;
}

.other_label {
  font-size: 16px;
  color: grey;
  margin: 4%;
}
.mapContainer {
  height: 100vh;
  background-color: #ffffff;
}

.mapboxgl-ctrl-group {
  background: #ffffff !important;
}

a:link { 
  text-decoration: none !important; 
} 

a:visited { 
  text-decoration: none !important; 
} 

a:hover { 
  text-decoration: none !important; 
} 

a:active { 
  text-decoration: none !important; 
}


.atlasaibutton {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 0px solid #e1e1e1;
    border-radius: 8px;
    background-color: #ffffff;
    color: #212121;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.docs {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.shareButton {
  margin-left: 10px;
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 5px;
  border: 0px solid #e1e1e1;
  border-radius: 8px;
  background-color: #ffffff;
  color: #212121;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.scrolling-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: #ffffff;
  height: fit-content;
  display: flex;
  padding-bottom: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrolling-wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.card {
  display: flex;
  background: white;
  text-align: left;
  padding: 8px;
  margin: 5px;
  margin-bottom: 20px;
  height: fit-content;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  align-items: center;
}

.card:first-child {
  margin-left: 12px;
}

.card h3 {
  margin: 0;
  padding-bottom: 8px;
}
.card button {
  border: none;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.deleteButton {
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 5px;
  border: 0px solid #e1e1e1;
  border-radius: 8px;
  background-color: #ffffff;
  color: #212121;
  margin-left: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: 35vh;
  max-width: 35vh;
  min-height: 35vh;
  min-width: 35vh;
}

.image-gallery-thumbnails {
  width: 40vh !important;
}
/* Main container for the title */
.titleBox {
  width: 100%;
  padding: 20px 5%;
  border-bottom: 3px solid #000000; /* Solid blue bottom border */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  background-color: #ffffff;
}

/* Styling for the title */
.title {
  font-size: 1.5em; /* Slightly larger font size for visibility */
  color: #212121; /* Dark color for contrast */
  text-align: center; /* Center aligns the title */
  font-weight: normal;
  display: flex;
  align-items: center;
}

/* Container for the entire list of operations */
.operations {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 75vh; /* Set a maximum height for the scrollable area */
  padding: 10px;
  background-color: #ffffff;
}

/* Individual box for each map */
.box {
  border-radius: 8px; /* Rounded corners */
  display: flex; /* Use flexbox for alignment */
  gap: 10px; /* Space between icon and text */
}

/* Style for the button that contains the map icon and title */
.map_button {
  display: flex;
  align-items: center; /* Align the content of the button vertically */
  width: 100%; /* Full width to fill its container */
  background-color: transparent; /* No background for the button */
  border: none; /* No border for the button */
  padding: 0; /* No padding to allow customization */
  cursor: pointer; /* Change cursor on hover */
  text-align: left; /* Align the text to the left */
}

.map_button:hover,
.map_button:focus {
  background-color: #e2e6ea; /* Change background color on hover/focus */
  outline: none; /* No outline on focus */
}

/* Style for the globe icon */
.globe {
  width: 40px; /* Fixed width for the icon */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Space between the icon and the title */
}

/* Style for the title of the map */
.box h3 {
  margin: 0; /* Remove default margins */
  font-size: 16px; /* Font size for the title */
  color: #333; /* Text color for the title */
  font-weight: normal; /* Normal font weight for the title */
}

/* Add additional responsive or interactive styles as needed */


.contacts {
  margin: 0px;
  margin-top: 1rem;
  border-radius: 0px;
  width: -webkit-fill-available;
  background-color: #FFFFFF;
  border: 0;
  border-radius: 0px;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.add_button {
  width: fit-content;
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #FFFFFF;
  border: 0;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.add_map {
  height: 2rem;
  width: 2rem;
}

.globe {
  height: 5rem;
  width: 5rem;
}

.map_functions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}
/* Base reset for the styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Full-screen background styling */
html, body {
  touch-action:none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stripe {
  background-image: linear-gradient(135deg, #5433FF 0%, #4379FF 100%);
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* Sign-in box styling */
.signin_box {
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  text-align: center;
  height: 100vh;
}

/* Sign-in header */
.logo_box .logo_label {
  font-size: 24px;
  margin-bottom: 2rem;
  color: #ffffff;
}

/* Sign-in button styles */
.signin_button_box {
  margin-bottom: 1rem;
}

.sign-in {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 1rem;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

/* Hover effects */
.sign-in:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Sign-in button icons */
.sign-in img {
  margin-right: 10px;
}

/* Terms of service text */
.terms_label {
  font-size: 12px;
  color: #212121 !important;
  margin-top: 2rem;
  display: block;
  font-weight: bold;
}

.intro_box {
  background-color: #000;
  height: 100px;
  width: 100px;
}

/* CSS */
.button-38 {
  background-color: #ffffff;
  border: 0;
  border-radius: 2rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Roboto",ui-sans-serif,system-ui;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.7rem 0.3rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-38:hover {
  background-color: rgb(249,250,251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}